html{
    background-image: url(bookbg.png);
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
}
body{
    font-family: Oswald;
    background-image: linear-gradient(lightblue, white);
    background-position: center;
}
header{
    background-color: rgb(3, 3, 68);
    color: aliceblue;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    border-style: none none solid none;
    border-color: aliceblue;
    text-shadow: 2px 5px 5px black;
}
.banner{
    position: relative;
}
.banner .welcome{
    background-color: rgb(3, 3, 68);
    padding: 5px 11px 5px 10px;
    position: absolute;
    bottom: 8%;
    color: aliceblue;
    border-style: solid solid solid none;
    text-shadow: 2px 5px 5px black;
    transition: padding 1s;
}
.banner .welcome:hover{
    padding: 10px 16px 10px 15px;
}
nav{
    position: sticky;
    background-color: lightgray;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-style: ridge;
}
nav ul{
    max-width: 100%;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 24px;
}
.info li{
    text-shadow: 7px 7px 7px white;
}
aside{
    float: right;
    margin: 0px;
    width: 20%;
    height: 75%;
    padding: 15px;
    background-color: aliceblue;
    border-style: none none outset outset;
    transition: width 1s;
    transition-timing-function: ease-in-out;

}
aside:hover{
    width: 22%;
    height: 76%;
}
.opening{
    text-align: center;
    border-style: none none solid;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image{
    float: left;
    margin: 0px;
    border-style: inset;
    text-align: center;
    width: 75%;
    background-color: aliceblue;
    transform: scale(85%);
}
footer{
    clear:both;
    background-color: rgb(3, 3, 68);
    color: aliceblue;
    border-style: solid none none none;
    border-color: black;
    padding: 5px;
    text-align: center;
    width: 100%;
}
footer li{
    list-style-type: none;
}
footer :link{
    color: white;
}
footer :visited{
    color: white;
}
:link{
    color: black;
}
:visited{
    color:black;
}